@model AdminEditPostPublishedModel


<form asp-action="EditPublishedPost" method="post">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
    <input type="hidden" asp-for="Post.BlogPostTemplateId" />
    <div class="form-group border-bottom">
        <input class="btn btn-outline-primary" type="submit" value="Save Post"
               asp-action="EditPublishedPost" />
    </div>
    <div class="form-group">
        <label asp-for="Post.PageTitle"></label>
        <div><span asp-validation-for="Post.PageTitle" class="text-danger"></span></div>
        <input asp-for="Post.PageTitle" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Post.Author"></label>
        <div><span asp-validation-for="Post.Author" class="text-danger"></span></div>
        <input asp-for="Post.Author" class="form-control" />
    </div>

    <div class="form-group border p-3">
        <div class="d-block clearfix">
            <p class="font-weight-bold border-bottom p-2">Categories</p>
        </div>
        <div class="d-block mb-4 p-1 pb-3 border-bottom">
            @for (int i = 0; i < Model.CategoriesSelected.Count; i++)
            {
                <input type="checkbox" id="@Model.CategoriesSelected[i].Category"
                       asp-for="@Model.CategoriesSelected[i].Selected" class="ml-3 mt-2" />

                <label for="@Model.CategoriesSelected[i].Category" class="mt-1 ml-1">
                    @Model.CategoriesSelected[i].Category
                </label>

                <input type="hidden" asp-for="@Model.CategoriesSelected[i].Category" />
            }
        </div>
        <div class="ml-auto">
            <input type="text" id="newCategory" name="newCategory" />
            <input class="btn ml-1 btn-outline-secondary btn-sm mb-1" type="submit" 
                   value="Add Category"
                   asp-action="AddCategoryToPost" />
        </div>
    </div>
    <div class="form-group">
        <div class="form-row">
            <div class="col-md-4 col-lg-3">
                <label asp-for="Post.TimeOfDayPublished"></label>
                <div><span asp-validation-for="Post.TimeOfDayPublished" class="text-danger"></span></div>
                <!--probably will need to write our own tag helper to get it to bind to time-->
                <input asp-for="Post.TimeOfDayPublished" class="form-control" type="time" />
            </div>
            <div class="col-md-4 col-lg-3 mt-4 mt-md-0">
                <label asp-for="Post.DatePublished"></label>
                <div><span asp-validation-for="Post.DatePublished" class="text-danger"></span></div>
                <input asp-for="Post.DatePublished" class="form-control" type="date" />
            </div>
        </div>
    </div>
    <div class="mb-3"></div>
    <div class="form-group">
        <label asp-for="Post.FullContent"></label>
        <div><span asp-validation-for="Post.FullContent" class="text-danger"></span></div>
        <textarea asp-for="Post.FullContent" class="rounded form-control" rows="10"></textarea>
    </div>
    <div class="text-left justify-content-between">
        <input class="btn btn-outline-primary my-4 mt-sm-0" type="submit" value="Save Post" asp-action="EditPublishedPost" />
        <a asp-action="Home" asp-controller="Admin" asp-area="NCAdmin"
           class="btn btn-danger mx-sm-5 my-4 mt-sm-0">Cancel</a>
        <input class="btn btn-outline-danger my-4 mt-sm-0" type="submit" value="Unpublish (Send to Drafts)"
               asp-action="UnPublishPost" formmethod="post" />
    </div>
</form>
